{% extends "base_users.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-6">
      <div class="card border-0 shadow-lg">
        <div class="card-body text-center">
          <p class="card-text">Visualize e edite suas informações pessoais.</p>
          <a href="#" class="btn btn-info text-white">Editar Perfil</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card border-0 shadow-lg">
        <div class="card-body text-center">
          <p class="card-text">Gerencie seus compromissos de forma prática.</p>
          <a href="#" class="btn btn-info text-white">Ver Agendamentos</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card border-0 shadow-lg">
        <div class="card-body text-center">
          <p class="card-text">Estamos aqui para ajudar você.</p>
          <a href="#" class="btn btn-info text-white">Fale Conosco</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
