<footer class="bg-dark py-4">
  <div class="container custom-container">
    <div class="row g-2">
      <div class="col-md-6 col-sm-12 col-lg-6 d-flex">
        <p class="text-center text-white m-auto">MenteSer &copy; 2025. Todos os direitos reservados.</p>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6 d-flex">
        <ul class="m-auto">
          <a class="mx-3 text-decoration-none" href="https://github.com/WescleyPlinio"><i class="fa-brands fa-github fa-2x text-white"></i></a>
          <a class="mx-3 text-decoration-none" href="https://www.instagram.com/wpg06/"><i class="fa-brands fa-instagram fa-2x text-white"></i></a>
          <a class="mx-3 text-decoration-none" href="https://www.linkedin.com/in/dvwescley/"><i class="fa-brands fa-linkedin fa-2x text-white"></i></a>
        </ul>
      </div>
    </div>
  </div>
</footer>
