{% load static %}

<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container custom-container">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'imgs/LogoH.svg' %}" alt="" /></a>

    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row d-none d-lg-flex">
      <li class="nav-item">
        <a class="nav-link text-center text-white" aria-current="page" href="{% url 'index' %}">Início</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-center text-white" href="{% url 'tratamentos' %}">Tratamentos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-center text-white" href="#">Blog</a>
      </li>

      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-center text-white" href="{% url 'profile' %}">Área do {{ request.user.username }}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link text-center text-white" href="{% url 'login' %}">Área do usuário</a>
        </li>
      {% endif %}
    </ul>
    <button class="btn d-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="fa-solid fa-xl text-success fa-bars"></i></button>
  </div>
</nav>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="text-decoration-none list-unstyled">
      <li class="nav-item mb-4">
        <a class="nav-link active text-center text-sucess" aria-current="page" href="{% url 'index' %}">Início</a>
      </li>

      <li class="nav-item mb-4">
        <a class="nav-link text-center text-sucess" href="{% url 'tratamentos' %}">Tratamentos</a>
      </li>

      <li class="nav-item mb-4">
        <a class="nav-link text-center text-sucess" href="#">Blog</a>
      </li>

      {% if user.is_authenticated %}
        <li class="nav-item mb-4">
          <a class="nav-link text-center text-sucess" href="{% url 'profile' %}">Área do {{ request.user.username }}</a>
        </li>
        <li class="nav-item mb-4">
          <form class="nav-link text-center text-sucess" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn text-sucess">Sair</button>
          </form>
        </li>
      {% else %}
        <li class="nav-item mb-4">
          <a class="nav-link text-center text-sucess" href="{% url 'login' %}">Área do usuário</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
