{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main class="py-5">
    <div class="container custom-container">
      <h3 class="text-center text-sucess fw-bold">Porquê você deve cuidar da sua saúde mental conosco?</h3>

      <div class="row g-3 mt-3 d-flex justify-content-evenly align-items-center">
        <div class="col-md-6 col-12">
          <div class="card border-0 shadow-lg">
            <div class="card-body">
              <h5 class="card-title text-success">Agendamento simples</h5>
              <p class="card-text">Nosso processo é rápido e fácil para sua conveniência.</p>
              <a href="#" class="card-link">Quero agendar</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12">
          <div class="card border-0 shadow-lg">
            <div class="card-body">
              <h5 class="card-title text-success">Flexibilidade</h5>
              <p class="card-text">Escolha facilmente horários que se ajustem à sua rotina.</p>
              <a href="#" class="card-link">Leia mais</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12">
          <div class="card border-0 shadow-lg">
            <div class="card-body">
              <h5 class="card-title text-success">Total privacidade</h5>
              <p class="card-text">Seus dados estão protegidos com nossa política de privacidade.</p>
              <a href="politica.html" class="card-link">Veja nossos termos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}