{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% if imagens %}
  <div class="carousel-wrapper position-relative">

    <div class="carousel-caption-static">
      <h1 class="text-sucess fw-bold">Bem-vindo ao MenteSer</h1>
      <p class="text-light">Aqui você fala conosco, e nós te ouvimos.</p>
      <a href="{% url 'tratamentos' %}" class="btn btn-info text-white shadow-lg">Veja nossos tratamentos</a>
    </div>
  
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        {% for imagem in imagens %}
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ forloop.counter0 }}"
                  {% if forloop.first %}class="active" aria-current="true"{% endif %}
                  aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
      </div>
  
      <div class="carousel-inner">
        {% for imagem in imagens %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ imagem.imagem.url }}" class="d-block w-100 object-fit-cover blur-hover" alt="Slide {{ forloop.counter }}">
          </div>
        {% endfor %}
      </div>
  
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>
  </div>
  
  {% endif %}

  <main class="py-5">
    <div class="container custom-container">
      <div class="row mt-3 mb-5">
        <div class="col-md-8 d-flex">
          <div class="m-auto">
            <h1 class="text-sucess mb-4">Serviços de Cuidado em Psiquiatria e Reabilitação</h1>
            <p>
              Com uma estrutura abrangente, o MenteSer oferece uma rede completa de cuidados, desde o pronto atendimento psiquiátrico até a internação integral e a reabilitação contínua. Aqui, cada paciente recebe o tratamento necessário que precisa em cada momento da sua jornada de vida, com excelência em psiquiatria, equipe altamente qualificada, práticas inovadoras e atendimento humanizado.
            </p>
          </div>
        </div>
        <div class="col-md-4 d-none d-md-flex">
          <img src="{% static 'imgs/conversa.png' %}" alt="Psiquiatria e Reabilitação" class="img-fluid object-fit-contain" />
        </div>
      </div>

      <div class="row g-3 mb-5 d-flex justify-content-evenly align-items-center">
        {% for servico in servicos %}
          <div class="col-lg-4 col-md-6">
            <div class="card altura border-0 shadow-lg" style="min-height: 200px;">
              <div class="card-body">
                <i class="fa fa-{{ servico.icone }} fa-2x text-info"></i>
                <h5 class="card-title text-success mt-3">{{ servico.nome }}</h5>
                <p class="card-text">{{ servico.descricao }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
    </div>
  </main>
{% endblock %}
