.blur {
    filter: blur(4px);
    transition: filter 0.4s ease;
}

.carousel-wrapper {
    position: relative;
}

.carousel-caption-static {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    
}

.carousel-item img{
    height: 500px;
}

@media (min-width: 800px) {
    .carousel-item img{
        height: 700px;
    }
} 

.custom-container {
    width: 100%;
    max-width: 85%;
}

nav div a img {
    max-height: 50px;
}

.text-sucess {
    color: rgb(0, 191, 99);
}

.bg-sucess {
    background-color: rgb(0, 191, 99);
}