{% extends 'registration/base_forms.html' %}
{% load static crispy_forms_filters %}
{% block content %}
  <div class="d-flex flex-column justify-content-center align-items-center">
    <a class="mb-4" href="{% url 'index' %}"><img src="{% static 'imgs/LogoH.svg' %}" alt="Logo" class="logo" /></a>
    <form class="bg-white my-auto shadow-lg p-5 rounded" method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-info text-white w-100">Entrar</button>
    </form>
  </div>
{% endblock %}
